{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-sidebar.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign show_breadcrumb = section.settings.show_breadcrumb
  assign show_sidebar = section.settings.show_sidebar
  if show_sidebar
      assign show_collapse = section.settings.show_collapse
      assign sidebar_position = section.settings.sidebar_position
      assign sidebar_collapse_default = section.settings.sidebar_collapse_default
      assign enable_sticky = section.settings.enable_sticky
  endif
-%}

<div data-section-id="{{ section.id }}" data-section-type="blog-layout-default" id="BlogSection-{{ section.id }}" data-section="{{ section.id }}" class="main-blog-block page-width blog-layout-default">

  <div class="header-page">
    {%- if show_breadcrumb -%}
      <h1>djdfndkf ds</h1>
      <div class="hide-on-desktop">
        {% render 'breadcrumb', alignment: breadcrumb_alignment %}
      </div>
    {%- endif -%}

    {%- if show_sidebar -%}
      <div class="header-with-sidebar">
    {% endif %}

    <h1 class="page-header text-{{ page_title_alignment }}">
      {{ blog.title | escape }}
    </h1>

    {% if section.settings.description != "" %}
      <p class="description">{{ section.settings.description | escape }}</p>
    {% endif %}

    {%- if show_sidebar and section.blocks.size > 0 -%}
      <div class="sidebar-toogle" data-sidebar>
        {% render 'icon-sidebar' %}
      </div>
    {%- endif -%}
      
    {% if show_sidebar %}
      </div>
    {% endif %} 

    {%- if show_breadcrumb -%}
      <div class="hide-on-mobile">
        {% render 'breadcrumb', alignment: breadcrumb_alignment %}
      </div>
    {%- endif -%} 
    
  </div>

  {% comment %} Start  Content {% endcomment %}
  <div class="blog-content grid-content">
    {%- if show_sidebar and section.blocks.size > 0 -%}
      {{ 'component-main-sidebar.css' | asset_url | stylesheet_tag }}
      <div class="page-sidebar page-sidebar-{{ sidebar_position }} page-sidebar--vertical sidebar--{{ section.settings.sidebar_layout }}{% if enable_sticky %} has-sticky{% endif %}" id="sidebar">
        <a href="javascript:void(0)" class="sidebar-close" data-close-sidebar role="button">
          <span class="visually-hidden">Close</span>
          {% render 'icon-close' %}
        </a>
        <div class="sidebar-header text-left">
            <span class="title">
                Title
            </span>
        </div>
        <div class="sidebar-wrapper custom-scrollbar">
          {% render 'sidebar',
            section: section,
            show_collapse: show_collapse,
            sidebar_collapse: sidebar_collapse_default
          %}
        </div>
      </div>
    {%- endif -%}

    {%- paginate blog.articles by 6 -%}
    <div class="main-blog">
      <div class="wrap-inner {% if section.settings.sidebar == "right" %}grid has-sidebar sidebar-right{% endif %} {% if section.settings.sidebar == "left" %}grid has-sidebar sidebar-left{% endif %}">
        {%- if blog.articles_count > 0 -%}
          <div class="list-blogs">
            <div class="blog-articles {% if section.settings.layout == 'collage' %}blog-articles--collage{% endif %}">
              {%- for article in blog.articles -%}
                <div class="blog-articles__article article">
                  {%- render 'article-card',
                    article: article,
                    media_height: section.settings.image_height,
                    media_aspect_ratio: article.image.aspect_ratio,
                    show_image: section.settings.show_image,
                    show_date: section.settings.show_date,
                    show_author: section.settings.show_author,
                    show_excerpt: true 
                  -%}
                </div>
              {%- endfor -%}
            </div>
          </div>
        {% else %}
          <div class="item-placeholder">
            <div class="placeholder media media--landscape">
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            <div class="blog-placeholder__content">
              <h2>
                {{ 'sections.featured_blog.onboarding_title' | t }}
              </h2>
              <p class="rte-width">
                {{ 'sections.featured_blog.onboarding_content' | t }}
              </p>
            </div>
          </div>
        {% endif %}
        {%- if section.settings.sidebar != "full" -%}
          <div class="sidebar">
            <div class="scroll-sidebar">
            {%- liquid
              if section.settings.blog_show_lastest_post
                render 'latest-blog-posts'
              endif
            -%}

            {%- liquid
              if section.settings.blog_show_tags
              render 'tags'
              endif
            -%}

            {%- liquid
              if section.settings.blog_categories
              render 'blog-categories'
              endif
            -%}
          </div>
        {% endif %}
      </div>
      {%- if paginate.pages > 1 -%}
        {%- render 'pagination', paginate: paginate -%}
      {%- endif -%}
    </div>
    {%- endpaginate -%}
  </div>
  </div>
  {% comment %} End Content {% endcomment %}
</div>
